<launch>
  <arg name="config_root" default="$(env HOME)/robotac_ws/config" />
  <arg name="image_topic" default="/camera/rgb/image_raw" />
  <arg name="camera_info_topic" default="/camera/rgb/camera_info" />
  <arg name="tag_family" default="tag36h11" />
  <arg name="tags_config" default="$(arg config_root)/apriltag/tags.yaml" />
  <arg name="use_config_tags" default="true" />
  <arg name="tag_id" default="0" />
  <arg name="tag_size" default="0.15" />
  <arg name="tag_frame" default="tag_$(arg tag_id)" />
  <arg name="publish_tf" default="true" />
  <arg name="publish_debug_image" default="false" />
  <arg name="transport_hint" default="raw" />

  <rosparam param="/tag_detections_image/disable_pub_plugins">
    - image_transport/compressed
    - image_transport/compressedDepth
    - image_transport/theora
  </rosparam>

  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="apriltag_detector"
        clear_params="true" output="screen">
    <remap from="image_rect" to="$(arg image_topic)" />
    <remap from="camera_info" to="$(arg camera_info_topic)" />
    <rosparam command="load" file="$(arg config_root)/apriltag/settings.yaml" />
    <rosparam if="$(arg use_config_tags)" command="load" file="$(arg tags_config)" />
    <param name="tag_family" value="$(arg tag_family)" />
    <param name="publish_tf" value="$(arg publish_tf)" />
    <param name="publish_tag_detections_image" value="$(arg publish_debug_image)" />
    <param name="transport_hint" value="$(arg transport_hint)" />
    <rosparam unless="$(arg use_config_tags)" param="standalone_tags">[{id: $(arg tag_id), size: $(arg tag_size), name: $(arg tag_frame)}]</rosparam>
  </node>
</launch>
