<launch>
  <arg name="video_device" default="/dev/robotac_rgb_camera" />
  <arg name="pixel_format" default="mjpeg" />
  <arg name="width" default="1920" />
  <arg name="height" default="1080" />
  <arg name="framerate" default="30" />
  <arg name="camera_info_url"
       default="file://$(find robotac_bringup)/config/camera/rgb.yaml" />
  <arg name="enable_rectify" default="false" />

  <!-- 即使安装了可选 image_transport 插件，也只发布原始 RGB 图像。 -->
  <rosparam param="/camera/rgb/image_raw/disable_pub_plugins">
    - image_transport/compressed
    - image_transport/compressedDepth
    - image_transport/theora
  </rosparam>

  <group ns="camera">
    <node pkg="web_cam" type="web_cam_node" name="rgb" output="screen"
          respawn="true" respawn_delay="2">
      <rosparam command="load"
                file="$(find robotac_bringup)/config/camera/webcam.yaml" />
      <param name="video_device" value="$(arg video_device)" />
      <param name="pixel_format" value="$(arg pixel_format)" />
      <param name="image_width" value="$(arg width)" />
      <param name="image_height" value="$(arg height)" />
      <param name="framerate" value="$(arg framerate)" />
      <param name="camera_info_url" value="$(arg camera_info_url)" />
    </node>
  </group>

  <group ns="camera/rgb">
    <node if="$(arg enable_rectify)" pkg="image_proc" type="image_proc" name="rectify" output="screen"
          respawn="true" respawn_delay="2" />
  </group>

</launch>
