<launch>
  <arg name="fastlio_config"
       default="$(find robotac_bringup)/config/fastlio/mid360s.yaml" />
  <arg name="pcd_save" default="false" />
  <arg name="rviz" default="false" />

  <rosparam command="load" file="$(arg fastlio_config)" />
  <param name="pcd_save/pcd_save_en" type="bool" value="$(arg pcd_save)" />
  <node pkg="fast_lio" type="fastlio_mapping" name="fastlio_mapping" output="screen" />
  <!-- 修正后的本地里程计由 robotac_localization 单独接入 MAVROS。 -->
  <node pkg="fast_lio" type="transform_odom_pointCloud" name="transform_odom_pointCloud" output="screen" />

  <group if="$(arg rviz)">
    <node pkg="rviz" type="rviz" name="fastlio_rviz"
          args="-d $(find fast_lio)/rviz_cfg/loam_livox.rviz" output="screen" />
  </group>
</launch>
