<launch>
  <arg name="fcu_url" default="serial:///dev/ttyACM0:921600" />
  <arg name="vision_config"
       default="$(find robotac_localization)/config/vision_pose.yaml" />

  <include file="$(find robotac_bringup)/launch/mavros_px4.launch">
    <arg name="fcu_url" value="$(arg fcu_url)" />
  </include>
  <include file="$(find robotac_localization)/launch/vision_to_px4.launch">
    <arg name="config" value="$(arg vision_config)" />
  </include>
</launch>
