<launch>
  <arg name="config_root" default="$(env HOME)/robotac_ws/config" />
  <arg name="rviz" default="true" />
  <arg name="pcd_save" default="false" />

  <include file="$(find robotac_bringup)/launch/lidar_mid360s.launch">
    <arg name="config_root" value="$(arg config_root)" />
  </include>
  <include file="$(find robotac_bringup)/launch/fastlio_mid360s.launch">
    <arg name="config_root" value="$(arg config_root)" />
    <arg name="pcd_save" value="$(arg pcd_save)" />
    <arg name="rviz" value="$(arg rviz)" />
  </include>
</launch>
