<launch>
  <!-- Read-only MAVROS/FAST-LIO local-flight readiness check. This launch
       starts only local_flight_preflight.py; it never publishes setpoints,
       calls flight services, changes PX4 parameters, or opens serial ports. -->
  <arg name="observe_seconds" default="30.0" />
  <arg name="startup_timeout" default="45.0" />
  <arg name="mavros_timeout" default="1.0" />
  <arg name="estimator_timeout" default="1.0" />
  <arg name="local_age_limit" default="0.50" />
  <arg name="vision_age_limit" default="0.30" />
  <arg name="vision_status_timeout" default="0.50" />
  <arg name="future_tolerance" default="0.10" />
  <arg name="min_local_rate_hz" default="10.0" />
  <arg name="min_fastlio_rate_hz" default="5.0" />
  <arg name="min_preview_rate_hz" default="5.0" />
  <arg name="min_vision_output_rate_hz" default="5.0" />
  <arg name="min_local_samples" default="10" />
  <arg name="min_fastlio_samples" default="5" />
  <arg name="min_preview_samples" default="5" />
  <arg name="min_vision_output_samples" default="5" />
  <arg name="vision_health_window_seconds" default="5.0" />
  <arg name="timesync_timeout" default="1.0" />
  <arg name="max_timesync_rtt_ms" default="20.0" />

  <arg name="require_vision" default="true" />
  <arg name="require_vision_output" default="false" />
  <arg name="require_timesync" default="$(eval arg('require_vision_output'))" />
  <arg name="require_estimator" default="true" />
  <arg name="require_disarmed" default="true" />
  <arg name="require_on_ground" default="true" />
  <arg name="check_px4_vision_params" default="false" />
  <arg name="require_yaw_fusion" default="false" />
  <arg name="require_ev_offsets_zero" default="true" />
  <arg name="ev_offset_tolerance_m" default="0.01" />
  <arg name="require_ev_delay" default="false" />
  <arg name="expected_ev_delay_ms" default="0.0" />
  <arg name="ev_delay_tolerance_ms" default="20.0" />
  <arg name="require_setpoint_consumer" default="false" />
  <arg name="setpoint_consumer_node" default="/mavros" />
  <arg name="require_vision_output_consumer" default="$(eval arg('require_vision_output'))" />
  <arg name="vision_output_consumer_node" default="/mavros" />

  <arg name="local_parent" default="map" />
  <arg name="local_child" default="base_link" />
  <arg name="fastlio_parent" default="camera_init" />
  <arg name="fastlio_child" default="body" />
  <arg name="vision_parent" default="odom" />
  <arg name="state_topic" default="/mavros/state" />
  <arg name="extended_state_topic" default="/mavros/extended_state" />
  <arg name="estimator_topic" default="/mavros/estimator_status" />
  <arg name="local_topic" default="/mavros/local_position/odom" />
  <arg name="setpoint_topic" default="/mavros/setpoint_raw/local" />
  <arg name="fastlio_topic" default="/Odometry" />
  <arg name="vision_health_topic" default="/robotac/fastlio_vision/healthy" />
  <arg name="vision_status_topic" default="/robotac/fastlio_vision/status" />
  <arg name="preview_topic" default="/robotac/fastlio_vision/pose_preview" />
  <arg name="vision_output_enabled_topic" default="/robotac/fastlio_vision/output_enabled" />
  <arg name="vision_output_topic" default="/mavros/vision_pose/pose_cov" />
  <arg name="param_get_service" default="/mavros/param/get" />

  <node pkg="robotac_flight" type="local_flight_preflight.py"
        name="local_flight_preflight" output="screen" required="true">
    <param name="observe_seconds" value="$(arg observe_seconds)" />
    <param name="startup_timeout" value="$(arg startup_timeout)" />
    <param name="mavros_timeout" value="$(arg mavros_timeout)" />
    <param name="estimator_timeout" value="$(arg estimator_timeout)" />
    <param name="local_age_limit" value="$(arg local_age_limit)" />
    <param name="vision_age_limit" value="$(arg vision_age_limit)" />
    <param name="vision_status_timeout" value="$(arg vision_status_timeout)" />
    <param name="future_tolerance" value="$(arg future_tolerance)" />
    <param name="min_local_rate_hz" value="$(arg min_local_rate_hz)" />
    <param name="min_fastlio_rate_hz" value="$(arg min_fastlio_rate_hz)" />
    <param name="min_preview_rate_hz" value="$(arg min_preview_rate_hz)" />
    <param name="min_vision_output_rate_hz" value="$(arg min_vision_output_rate_hz)" />
    <param name="min_local_samples" value="$(arg min_local_samples)" />
    <param name="min_fastlio_samples" value="$(arg min_fastlio_samples)" />
    <param name="min_preview_samples" value="$(arg min_preview_samples)" />
    <param name="min_vision_output_samples" value="$(arg min_vision_output_samples)" />
    <param name="vision_health_window_seconds" value="$(arg vision_health_window_seconds)" />
    <param name="timesync_timeout" value="$(arg timesync_timeout)" />
    <param name="max_timesync_rtt_ms" value="$(arg max_timesync_rtt_ms)" />

    <param name="require_vision" value="$(arg require_vision)" />
    <param name="require_vision_output" value="$(arg require_vision_output)" />
    <param name="require_timesync" value="$(arg require_timesync)" />
    <param name="require_estimator" value="$(arg require_estimator)" />
    <param name="require_disarmed" value="$(arg require_disarmed)" />
    <param name="require_on_ground" value="$(arg require_on_ground)" />
    <param name="check_px4_vision_params" value="$(arg check_px4_vision_params)" />
    <param name="require_yaw_fusion" value="$(arg require_yaw_fusion)" />
    <param name="require_ev_offsets_zero" value="$(arg require_ev_offsets_zero)" />
    <param name="ev_offset_tolerance_m" value="$(arg ev_offset_tolerance_m)" />
    <param name="require_ev_delay" value="$(arg require_ev_delay)" />
    <param name="expected_ev_delay_ms" value="$(arg expected_ev_delay_ms)" />
    <param name="ev_delay_tolerance_ms" value="$(arg ev_delay_tolerance_ms)" />
    <param name="require_setpoint_consumer" value="$(arg require_setpoint_consumer)" />
    <param name="setpoint_consumer_node" value="$(arg setpoint_consumer_node)" />
    <param name="require_vision_output_consumer" value="$(arg require_vision_output_consumer)" />
    <param name="vision_output_consumer_node" value="$(arg vision_output_consumer_node)" />

    <param name="local_parent" value="$(arg local_parent)" />
    <param name="local_child" value="$(arg local_child)" />
    <param name="fastlio_parent" value="$(arg fastlio_parent)" />
    <param name="fastlio_child" value="$(arg fastlio_child)" />
    <param name="vision_parent" value="$(arg vision_parent)" />
    <param name="state_topic" value="$(arg state_topic)" />
    <param name="extended_state_topic" value="$(arg extended_state_topic)" />
    <param name="estimator_topic" value="$(arg estimator_topic)" />
    <param name="local_topic" value="$(arg local_topic)" />
    <param name="setpoint_topic" value="$(arg setpoint_topic)" />
    <param name="fastlio_topic" value="$(arg fastlio_topic)" />
    <param name="vision_health_topic" value="$(arg vision_health_topic)" />
    <param name="vision_status_topic" value="$(arg vision_status_topic)" />
    <param name="preview_topic" value="$(arg preview_topic)" />
    <param name="vision_output_enabled_topic" value="$(arg vision_output_enabled_topic)" />
    <param name="vision_output_topic" value="$(arg vision_output_topic)" />
    <param name="param_get_service" value="$(arg param_get_service)" />
  </node>
</launch>
