<launch>
  <arg name="config_root" default="$(env HOME)/robotac_ws/config" />
  <arg name="route_file" default="$(arg config_root)/flight/local_waypoints.yaml" />
  <arg name="enable_control" default="false" />
  <arg name="auto_mode" default="false" />
  <arg name="auto_arm" default="false" />
  <arg name="auto_land" default="false" />
  <arg name="enable_payload" default="false" />
  <arg name="setpoint_topic" default="/mavros/setpoint_raw/local" />
  <arg name="require_setpoint_consumer" default="true" />
  <arg name="setpoint_consumer_node" default="/mavros" />
  <arg name="consumer_check_interval" default="0.50" />
  <arg name="vision_status_topic" default="/robotac/fastlio_vision/status" />
  <arg name="vision_output_topic" default="/mavros/vision_pose/pose" />
  <arg name="vision_output_type" default="pose" />
  <arg name="vision_output_parent" default="odom" />
  <arg name="vision_output_consumer_node" default="/mavros" />
  <arg name="deployment_file" default="$(arg config_root)/deployment.yaml" />
  <rosparam command="load" file="$(arg deployment_file)" />
  <rosparam command="load" file="$(arg route_file)" />
  <node pkg="robotac_flight" type="local_waypoint_flight.py" name="local_waypoint_flight" output="screen">
    <param name="enable_control" value="$(arg enable_control)" />
    <param name="auto_mode" value="$(arg auto_mode)" />
    <param name="auto_arm" value="$(arg auto_arm)" />
    <param name="auto_land" value="$(arg auto_land)" />
    <param name="enable_payload" value="$(arg enable_payload)" />
    <param name="setpoint_topic" value="$(arg setpoint_topic)" />
    <param name="require_setpoint_consumer" value="$(arg require_setpoint_consumer)" />
    <param name="setpoint_consumer_node" value="$(arg setpoint_consumer_node)" />
    <param name="consumer_check_interval" value="$(arg consumer_check_interval)" />
    <param name="vision_status_topic" value="$(arg vision_status_topic)" />
    <param name="vision_output_topic" value="$(arg vision_output_topic)" />
    <param name="vision_output_type" value="$(arg vision_output_type)" />
    <param name="vision_output_parent" value="$(arg vision_output_parent)" />
    <param name="vision_output_consumer_node" value="$(arg vision_output_consumer_node)" />
  </node>
</launch>
