<launch>
  <arg name="input_topic" default="/sunray/odometry" />
  <arg name="output_topic" default="/mavros/vision_pose/pose" />
  <arg name="enable_mavros_output" default="false" />
  <arg name="config_root" default="$(env HOME)/robotac_ws/config" />
  <arg name="deployment_file" default="$(arg config_root)/deployment.yaml" />
  <arg name="vision_config" default="$(arg config_root)/fastlio/path_a_vision_pose.yaml" />
  <rosparam command="load" file="$(arg deployment_file)" />
  <rosparam command="load" file="$(arg vision_config)" />
  <node pkg="robotac_flight" type="local_odom_to_vision_pose.py" name="path_a_vision_pose" output="screen">
    <param name="input_topic" value="$(arg input_topic)" />
    <param name="output_topic" value="$(arg output_topic)" />
    <param name="enable_mavros_output" value="$(arg enable_mavros_output)" />
  </node>
</launch>
