<launch>
  <arg name="config" default="$(find robotac_servo)/config/servo.yaml" />
  <arg name="port" default="/dev/robotac_servo" />

  <node pkg="robotac_servo" type="servo_node.py" name="robotac_servo"
        output="screen" respawn="false">
    <rosparam command="load" file="$(arg config)" />
    <param name="port" value="$(arg port)" />
  </node>
</launch>
